user_uuid="1d71cb75-d880-49f3-afde-5705d15bf062"
bucket_name="y287hz7ggw41wuc8s3lqobmu2w0uzvxz"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1