terratowns_endpoint = "https://terratowns.cloud/api"
terraform1 = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/terraform1/"
    content_version = 1
}
terraform2 = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/terraform2/"
    content_version = 1
}
